<!-- About Section -->
<meta itemprop="currenciesAccepted" content="USD">
<meta itemprop="openingHours" content="Sun-Sat 9:00-18:00">
<meta itemprop="image" content="https://www.everlasting-garden.com/img/gallery/44.jpg">
<section id="about" class="container content-section">
  <div class="row text-center">
    <div class="col-lg-12">
      <h2>About</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p>
        Everlasting Garden is an organic farm growing specialty herbs and vegetables situated in Prunedale, CA
      </p>
    </div>
  </div>
</section>
