<!-- About Section -->
<meta itemprop="currenciesAccepted" content="USD">
<meta itemprop="openingHours" content="Sun-Sat 9:00-18:00">
<meta itemprop="image" content="https://www.everlasting-garden.com/img/gallery/44.jpg">
<section id="buy" class="container content-section">
  <div class="row text-center">
    <div class="col-lg-12">
      <h2>Our Seasonal Organic CSA Box</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p>
        We offer local seasonal organic produce for pickup in a CSA (Community Supported Agriculture) box for $20 per box.
        You can order by sending a message to <a href="tel:1-831-818-1086">831 818-1086</a>.
      </p>
      <p>
        Since we try to harvest on the same day as pick up the number of boxes are limited. You can pay in advance to <a href="https://venmo.com/gardeneverlasting">"gardeneverlasting" on Venmo</a> to reserve a box for pick up. Pick up is every Friday from 10AM  to 2PM.
      </p>
      <p>
        We will update and post future crops as it ready.
      </p>
      <p class="text-center">
        <a href="https://venmo.com/gardeneverlasting" class="btn btn-primary btn-lg">Pay with Venmo</a>
      </p>
      <h3 class="text-center">This Week's Produce</h2>
      <div class="col-sm-4 col-xs-6 show-item">
        <h4 class="text-center">Baby Carrots</h4>
      </div>
      <div class="col-sm-4 col-xs-6 show-item">
        <h4 class="text-center">Baby Kale</h4>
      </div>
      <div class="col-sm-4 col-xs-6 show-item">
        <h4 class="text-center">Baby Beets</h4>
      </div>
      <div class="col-sm-4 col-xs-6 show-item">
        <h4 class="text-center">Bok Choy</h4>
      </div>
      <div class="col-sm-4 col-xs-6 show-item">
        <h4 class="text-center">Scallions</h4>
      </div>
      <div class="col-sm-4 col-xs-6 show-item">
        <h4 class="text-center">Purple Basil</h4>
      </div>
      <div class="col-sm-4 col-xs-6 show-item">
        <h4 class="text-center">Wild Arugula</h4>
      </div>
    </div>
  </div>
</section>
<section id="about" class="container content-section">
  <div class="row text-center">
    <div class="col-lg-12">
      <h2>About</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p>
        Welcome to Everlasting Garden!  We have been in Prunedale, CA since 1999 growing speciality culinary herbs and seasonal crops for Bay Area restaurants and local CSAs (Community Sustainable Agriculture).  Because of the current crisis and the increased need for fresh, local and organic produce, we have expanded our community outreach and are very pleased to now offer direct ordering from our farm to the local community.
      </p>
      <p>
        From the beginning, Everlasting Garden has been 100% organic and certified by California Certified Organic Farmers (CCOF) and the California Department of Food and Agriculture (CDFA). We use time honored organic farming methods to produce quality, fresh produce.  These methods include:
      </p>
      <p>
        <ul>
          <li>Planting cover crops to build healthy soil</li>
          <li>Planting hedgerows to attract beneficial insects</li>
          <li>Irrigating with drip-tape to conserve valuable water resources</li>
          <li>Using water from a deep drilled well to ensure a clean, safe water supply</li>
          <li>Utilizing greenhouses to prolong the growing season</li>
          <li>Farming only 1/3 of our land in order to maintain well-balanced surrounding areas for wildlife</li>
          <li>An emphasis on food safety and treating our products with care and respect</li>
        </ul>
      </p>
      <p>
        At Everlasting Garden, we believe that we are all guardians of our planet. Our duty is to preserve its resources, protect our environment and enrich our land for generations to come. If we take care of the land and keep it free from chemical pollution, it will always provide abundance for humankind. Please join us in our mission to promote and provide sustainable, ecologically sound agriculture for our local community.
      </p>
    </div>
  </div>
</section>
