<section id="contact">
  <div class="content-section">
    <div class="container">
      <div class="row text-center">
        <h2>Contact</h2>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-12 col-sm-12">
          <div class="clearfix"></div>
          <div class="col-sm-6 lead">
            <h4>Contact</h4>
            <br>
            <a target="_blank" href="mailto:cuiyiling@gmail.com" itemprop="email">
              <span class="intro-social-icon">
                {% include_relative img/icons/solid/envelope.svg %}
              </span>
              cuiyiling@gmail.com
            </a>
            <br>
            <a target="_blank" href="tel:1-831-818-1086" itemprop="telephone" content="+18318181086">
              <span class="intro-social-icon">
                {% include_relative img/icons/solid/phone.svg %}
              </span>
              (831)818-1086
            </a>
          </div>
          <div class="col-sm-6 lead">
            <h4>Location</h4>
            <br>
            <a target="_blank" href="https://goo.gl/maps/YT59Gzd7wjiYyzvG7" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
              <span class="intro-social-icon">
                {% include_relative img/icons/solid/map-marker-alt.svg %}
              </span>
              <span itemprop="streetAddress">7200 Tustin Road</span>, <span itemprop="addressLocality">Prunedale</span>, <span itemprop="addressRegion">CA</span> <span itemprop="postalCode">93907</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map">
    <template data-lazyload>
      <div class="map-image"></div>
      <iframe class="map-content" src="/lib/maps/index.html" style="border:none;"></iframe>
    </template>
  </div>
</section>
